language: java
jdk:
- oraclejdk8
- oraclejdk11
- openjdk8
- openjdk11
install: "./gradlew installDist test -i"
after_success:
  - bash <(curl -s https://codecov.io/bash)
notifications:
  slack:
    secure: UbSW65rArvCo2fguSnol2kWCKNksdlQVgres2Wl+lA3Ace5mB6Ax2Q4SrLwUEchwclMsfkN5kK4s3MaMOLD8qIZfWeDGptQUNNkz//U3DVB+eSvyUj4GfrAEOwExlehS9aKikLFsUtklHwIPClm1RbKkqZOa3VEh8t/JsFxuTqdQ2eaGV/br2CaJ/vEWvjgVynue8TVc8woF/T9sDxz/4DGuQ8+xiRRptUionRPkxGAy10itOEXiDRS7NWweT8dCJwj/S4joxGKoKyVkP9853yEYTY9tbCtTTwAtThvC7SKePpy097tXvJHiNRMXmiPqjrnKKaAHaXirkhsfTBvFAgoEqrjgw4MWR6kfLHd+l0AP0n1qFm36b0bt5YRjk47QIUDAu2lTHgzK+cwoaKYNzWbTRBhRC4/atK7L7vvXD9jVyiUeN7f/2HcRaGShmImbKp2yGTFT/0CQbQiG4dYtLRtEs+58hWwqL1pGTqPNrRIyAUXOVMa+41pj+z9obcKIbj0AC4gAkQX2iJEgJXCl/6587+XIJk4Amm0+uQPFFS3qP6pQnd7grINWWGhBDGA6wr6n3cc4fYYBtadlbMdZjjD133mDDblXiwMTPNXKsJzQXY3+er0jdvqQWATh9AR2jAv8Jet7K2u1kFwcVcITP4/zRYVp5fnpDqvFjP8Gao0=
matrix:
  include:
    - os: linux
    - os: osx
      osx_image: xcode10
    - os: osx
      osx_image: xcode9.4
    - os: osx
      osx_image: xcode9.3
