language: java
jdk:
- oraclejdk8
install: "./gradlew clean cleanTest build jacocoTestReport"
after_success:
- bash <(curl -s https://codecov.io/bash)
notifications:
  slack:
    secure: ccL7MrB1GKP1NJMq6/wvP4pWxeCg5AGhfhEGyay9xfIw2m8hnIUG2xV8OYpo4zJ/JpSkak1ftqIiJpOcln1r0d9JRuePQ0erJfyQXbOLUUHDteTkXDUT0tCI8GpHbPD6ZydfPVQZYgen6J1OdMq4jRbN1ZvxAetmoiqW/XGdDi4=

